In [5]:
# libs
import os
import pandas as pd
import requests
from dotenv import load_dotenv #pip3 install python-dotenv
# pip3 install lxml

# load secrets
load_dotenv()

True

In [ ]:
def get_historical_data(symbol, lookback_days=90):
    iex_key = os.getenv("IEX_API_KEY") 
    historical_url = f'https://cloud.iexapis.com/v1/stock/{symbol}/chart/{lookback_days}d?token={iex_key}'

    historical_data = requests.get(historical_url).json()
    df = pd.DataFrame(historical_data)
    return df[['date', 'high', 'low', 'close']]

# Fetch historical data
ticker = 'PLTR'
historical_df = get_historical_data(ticker)

# Display the historical data
# print(historical_df)

In [8]:
# display html version of df
historical_df.tail(5)

         date   high    low  close
0  2023-10-23  16.34  15.21  16.20
1  2023-10-24  16.93  16.30  16.64
2  2023-10-25  16.63  15.58  15.59
3  2023-10-26  15.91  15.05  15.29
4  2023-10-27  15.60  14.96  15.07

In [4]:
#create df from data
stock_df = pd.DataFrame([stock_data])

#print df
stock_df

,ticker,stock_price,change_close,change_close_pct,volume_today,volume_avg_5d,market_cap,float,float_pct,volatility,liquidity,news,sector,industry,company_name,latestUpdate
0,PLTR,16.59,0.19,0.01159,28239432,None,34331970862,920329412,None,None,None,None,Information,Software Publishers,Palantir Technologies Inc,1705693993039