In [5]:
# libs
import os
import pandas as pd
import requests
from dotenv import load_dotenv #pip3 install python-dotenv
# pip3 install lxml

# load secrets
load_dotenv()

True

In [13]:
def get_historical_data(symbol, lookback_days=90):
    iex_key = os.getenv("IEX_API_KEY") 
    historical_url = f'https://cloud.iexapis.com/v1/stock/{symbol}/chart/{lookback_days}d?token={iex_key}'

    historical_data = requests.get(historical_url).json()
    df = pd.DataFrame(historical_data)
    return df[['date', 'high', 'low', 'close']]

# Fetch historical data
ticker = 'PLTR'
historical_df = get_historical_data(ticker)

# Display the historical data
# print(historical_df)

In [14]:
# display html version of df
historical_df.tail(5)

          date   high    low  close
55  2024-01-11  16.93  16.17  16.68
56  2024-01-12  17.06  16.62  16.76
57  2024-01-16  16.74  16.29  16.53
58  2024-01-17  16.41  16.05  16.39
59  2024-01-18  16.81  16.10  16.40

In [27]:
# Calculate Baseline (Kijun-sen)
historical_df['baseline'] = (historical_df['high'].rolling(window=26).max() + historical_df['low'].rolling(window=26).min()) / 2

# Calculate Turning Line (Tenkan-sen)
historical_df['turning_line'] = (historical_df['high'].rolling(window=9).max() + historical_df['low'].rolling(window=9).min()) / 2

# Calculate Lagging Line (Chikou Span)
historical_df['lagging_line'] = historical_df['close'].shift(26)

# Calculate Leading Span A (Senkou Span A)
historical_df['leading_span_A'] = ((historical_df['baseline'] + historical_df['turning_line']) / 2).shift(-26)

# Calculate Leading Span B (Senkou Span B)
historical_df['leading_span_B'] = (historical_df['high'].rolling(window=52).max() + historical_df['low'].rolling(window=52).min()) / 2
historical_df['leading_span_B'] = historical_df['leading_span_B'].shift(-26)

# Note: we don't drop NA values here because we want to preserve the full dataset for plotting

In [28]:
historical_df

,date,high,low,close,baseline,turning_line,lagging_line,leading_span_A,leading_span_B
0,2023-10-23,16.3400,15.2100,16.20,NaN,NaN,NaN,19.20000,NaN
1,2023-10-24,16.9300,16.3000,16.64,NaN,NaN,NaN,19.20000,NaN
2,2023-10-25,16.6300,15.5800,15.59,NaN,NaN,NaN,19.20000,NaN
3,2023-10-26,15.9100,15.0500,15.29,NaN,NaN,NaN,19.11250,NaN
4,2023-10-27,15.6000,14.9600,15.07,NaN,NaN,NaN,18.68250,NaN
5,2023-10-30,15.2900,14.5600,14.69,NaN,NaN,NaN,18.42250,NaN
6,2023-10-31,15.0100,14.5500,14.80,NaN,NaN,NaN,18.42250,NaN
7,2023-11-01,14.9600,14.4800,14.92,NaN,NaN,NaN,19.06500,NaN
8,2023-11-02,18.3000,17.2101,17.97,NaN,16.39000,NaN,19.06500,NaN
9,2023-11-03,19.0789,17.7600,18.89,NaN,16.77945,NaN,19.06000,NaN
10,2023-11-06,19.0800,17.9300,18.54,NaN,16.78000,NaN,19.06000,NaN
11,2023-11-07,19.1700,18.5300,18.80,NaN,16.82500,NaN,18.96250,NaN
12,2023-11-08,18.9300,18.1500,18.49,NaN,16.82500,NaN,18.77500,NaN
13,2023-11-09,18.8700,18.1600,18.27,NaN,16.82500,NaN,18.77500,NaN
14,2023-11-10,19.7200,18.0600,19.67,NaN,17.10000,NaN,18.78250,NaN
15,2023-11-13,19.8800,19.3000,19.71,NaN,17.18000,NaN,18.78500,NaN
16,2023-11-14,20.1000,19.5000,19.94,NaN,18.65505,NaN,18.81000,NaN
17,2023-11-15,20.3700,19.6110,19.95,NaN,19.06500,NaN,18.81000,NaN
18,2023-11-16,19.8750,19.2900,19.77,NaN,19.15000,NaN,18.81000,NaN
19,2023-11-17,20.5800,19.6587,20.49,NaN,19.32000,NaN,18.81000,NaN
20,2023-11-20,21.6000,20.5600,21.34,NaN,19.83000,NaN,18.81000,NaN
21,2023-11-21,21.8500,19.7200,19.80,NaN,19.95500,NaN,18.29125,NaN
22,2023-11-22,20.4400,19.3300,19.69,NaN,19.95500,NaN,17.87500,NaN
23,2023-11-24,19.6000,18.9300,19.20,NaN,20.39000,NaN,17.56250,NaN
24,2023-11-27,19.5000,18.6200,19.08,NaN,20.23500,NaN,17.53000,NaN
25,2023-11-28,19.8000,19.0300,19.71,18.165,20.23500,NaN,17.38700,18.165
26,2023-11-29,20.3100,19.7800,19.84,18.165,20.23500,16.20,17.38200,18.165
27,2023-11-30,20.2300,19.6800,20.05,18.165,20.23500,16.64,17.38200,18.165
28,2023-12-01,20.2900,19.5500,20.27,18.165,20.23500,15.59,17.26700,18.165
29,2023-12-04,19.9000,18.2700,18.40,18.165,20.06000,15.29,17.02950,18.165
30,2023-12-05,18.5500,17.9600,18.30,18.165,19.20000,15.07,16.88450,18.165
31,2023-12-06,17.8300,17.0500,17.13,18.165,18.68000,14.69,16.88450,18.165
32,2023-12-07,17.4800,17.0800,17.22,18.165,18.68000,14.80,16.88450,18.165
33,2023-12-08,17.9200,17.0900,17.77,19.450,18.68000,14.92,16.88450,18.757
34,2023-12-11,18.2800,17.7000,17.77,19.450,18.68000,17.97,NaN,NaN
35,2023-12-12,17.8800,17.2301,17.50,19.450,18.67000,18.89,NaN,NaN
36,2023-12-13,17.9000,17.2200,17.87,19.450,18.67000,18.54,NaN,NaN
37,2023-12-14,18.5800,17.7200,18.21,19.450,18.47500,18.80,NaN,NaN
38,2023-12-15,19.1500,18.0400,18.20,19.450,18.10000,18.49,NaN,NaN
39,2023-12-18,18.5750,17.7700,17.84,19.450,18.10000,18.27,NaN,NaN
40,2023-12-19,18.1900,17.8400,17.95,19.450,18.11500,19.67,NaN,NaN
41,2023-12-20,17.9200,17.1900,17.25,19.450,18.12000,19.71,NaN,NaN
42,2023-12-21,17.7400,17.4200,17.59,19.450,18.17000,19.94,NaN,NaN
43,2023-12-22,17.7000,17.3250,17.41,19.450,18.17000,19.95,NaN,NaN
44,2023-12-26,17.7450,17.3299,17.68,19.450,18.17000,19.77,NaN,NaN
45,2023-12-27,17.9100,17.4500,17.47,19.450,18.17000,20.49,NaN,NaN
46,2023-12-28,17.8400,17.4200,17.56,19.450,18.17000,21.34,NaN,NaN
47,2023-12-29,17.6400,17.1000,17.17,18.745,17.83750,19.80,NaN,NaN
48,2024-01-02,16.9500,16.5000,16.58,18.405,17.34500,19.69,NaN,NaN
49,2024-01-03,16.3800,16.0100,16.09,18.160,16.96500,19.20,NaN,NaN
50,2024-01-04,16.5800,15.9500,16.25,18.130,16.93000,19.08,NaN,NaN
51,2024-01-05,16.1279,15.6640,15.98,17.987,16.78700,19.71,NaN,NaN
52,2024-01-08,16.8900,16.1400,16.67,17.977,16.78700,19.84,NaN,NaN
53,2024-01-09,16.6300,16.2800,16.39,17.977,16.78700,20.05,NaN,NaN
54,2024-01-10,17.0299,16.4000,16.79,17.782,16.75200,20.27,NaN,NaN
55,2024-01-11,16.9300,16.1700,16.68,17.407,16.65200,18.40,NaN,NaN
56,2024-01-12,17.0600,16.6200,16.76,17.407,16.36200,18.30,NaN,NaN
57,2024-01-16,16.7400,16.2900,16.53,17.407,16.36200,17.13,NaN,NaN
58,2024-01-17,16.4100,16.0500,16.39,17.407,16.36200,17.22,NaN,NaN
59,2024-01-18,16.8100,16.1000,16.40,17.407,16.36200,17.77,NaN,NaN