In [1]:
# libs
import os
import pandas as pd
import requests
from dotenv import load_dotenv #pip3 install python-dotenv

# load secrets
load_dotenv()

True

In [8]:
iex_key = os.getenv("IEX_API_KEY")
url = 'https://cloud.iexapis.com/stable/ref-data/symbols?token=' + iex_key

# Make the API request
response = requests.get(url)
data = response.json()

# Convert the data into a pandas DataFrame
symbols_df = pd.DataFrame(data)

# Assuming the response includes symbols and basic company info,
# you can filter or process this DataFrame further as needed.
print(symbols_df.head(50))  # Display the first few rows to verify

  symbol exchange exchangeSuffix                    exchangeName  \
0      A     XNYS                    New York Stock Exchange Inc
1     AA     XNYS                    New York Stock Exchange Inc
2    AAA     ARCX                                      Nyse Arca
3   AAAU     BATS                 Cboe Bzx U S Equities Exchange
4   AACG     XNAS                             Nasdaq All Markets

  exchangeSegment             exchangeSegmentName  \
0            XNYS     New York Stock Exchange Inc
1            XNYS     New York Stock Exchange Inc
2            ARCX                       Nyse Arca
3            BATS  Cboe Bzx U S Equities Exchange
4            XNMS        Nasdaq Nms Global Market

                                                name        date type  \
0                          Agilent Technologies Inc.  2024-02-13   cs
1                                         Alcoa Corp  2024-02-13   cs
2  Investment Managers Series Trust II - AXS Firs...  2024-02-13   et
3  Goldman Sachs Physical Gold ETF Trust - Goldma...  2024-02-13   et
4                        ATA Creativity Global - ADR  2024-02-13   ad

                  iexId region currency  isEnabled          figi         cik  \
0  IEX_46574843354B2D52     US      USD       True  BBG000C2V3D6  0001090872
1  IEX_4238333734532D52     US      USD       True  BBG00B3T3HD3  0001675149
2  IEX_5030314338392D52     US      USD       True  BBG01B0JRCS6  0001587982
3  IEX_474B433136332D52     US      USD       True  BBG00LPXX872  0001708646
4  IEX_44595A4C53392D52     US      USD       True  BBG000V2S3P6  0001420529

                    lei
0  QUIX8Y7A2WP0XRMW7G29
1  549300T12EZ1F6PWWU29
2  549300SU7ER9OFETRU41
3                  None
4                  None

In [9]:
print(symbols_df.head(50))  # Display the first few rows to verify

   symbol exchange exchangeSuffix                    exchangeName  \
0       A     XNYS                    New York Stock Exchange Inc
1      AA     XNYS                    New York Stock Exchange Inc
2     AAA     ARCX                                      Nyse Arca
3    AAAU     BATS                 Cboe Bzx U S Equities Exchange
4    AACG     XNAS                             Nasdaq All Markets
5    AACI     XNAS                             Nasdaq All Markets
6   AACIU     XNAS                             Nasdaq All Markets
7    AACT     XNYS                    New York Stock Exchange Inc
8   AACT+     XNYS                    New York Stock Exchange Inc
9   AACT=     XNYS                    New York Stock Exchange Inc
10   AADI     XNAS                             Nasdaq All Markets
11   AADR     XNAS                             Nasdaq All Markets
12   AAGR     XNAS                             Nasdaq All Markets
13    AAL     XNAS                             Nasdaq All Markets
14   AAMC     XASE                                   Nyse Mkt Llc
15   AAME     XNAS                             Nasdaq All Markets
16    AAN     XNYS                    New York Stock Exchange Inc
17   AAOI     XNAS                             Nasdaq All Markets
18   AAON     XNAS                             Nasdaq All Markets
19    AAP     XNYS                    New York Stock Exchange Inc
20   AAPB     XNAS                             Nasdaq All Markets
21   AAPD     XNAS                             Nasdaq All Markets
22   AAPL     XNAS                             Nasdaq All Markets
23   AAPU     XNAS                             Nasdaq All Markets
24   AAPX     BATS                 Cboe Bzx U S Equities Exchange
25   AAPY     BATS                 Cboe Bzx U S Equities Exchange
26    AAT     XNYS                    New York Stock Exchange Inc
27    AAU     XASE                                   Nyse Mkt Llc
28   AAXJ     XNAS                             Nasdaq All Markets
29     AB     XNYS                    New York Stock Exchange Inc
30   ABAT     XNAS                             Nasdaq All Markets
31   ABBV     XNYS                    New York Stock Exchange Inc
32   ABCB     XNAS                             Nasdaq All Markets
33   ABCL     XNAS                             Nasdaq All Markets
34   ABCS     XNAS                             Nasdaq All Markets
35   ABEO     XNAS                             Nasdaq All Markets
36   ABEQ     ARCX                                      Nyse Arca
37   ABEV     XNYS                    New York Stock Exchange Inc
38    ABG     XNYS                    New York Stock Exchange Inc
39   ABIO     XNAS                             Nasdaq All Markets
40    ABL     XNAS                             Nasdaq All Markets
41  ABLLL     XNAS                             Nasdaq All Markets
42  ABLLW     XNAS                             Nasdaq All Markets
43   ABLV     XNAS                             Nasdaq All Markets
44  ABLVW     XNAS                             Nasdaq All Markets
45    ABM     XNYS                    New York Stock Exchange Inc
46   ABNB     XNAS                             Nasdaq All Markets
47   ABOS     XNAS                             Nasdaq All Markets
48    ABR     XNYS                    New York Stock Exchange Inc
49  ABR-D     XNYS                    New York Stock Exchange Inc

   exchangeSegment              exchangeSegmentName  \
0             XNYS      New York Stock Exchange Inc
1             XNYS      New York Stock Exchange Inc
2             ARCX                        Nyse Arca
3             BATS   Cboe Bzx U S Equities Exchange
4             XNMS         Nasdaq Nms Global Market
5             XNMS         Nasdaq Nms Global Market
6             XNMS         Nasdaq Nms Global Market
7             XNYS      New York Stock Exchange Inc
8             XNYS      New York Stock Exchange Inc
9             XNYS      New York Stock Exchange Inc
10            XNCM            Nasdaq Capital Market
11            XNMS         Nasdaq Nms Global Market
12            XNMS         Nasdaq Nms Global Market
13            XNGS  Nasdaq Ngs Global Select Market
14            XASE                     Nyse Mkt Llc
15            XNMS         Nasdaq Nms Global Market
16            XNYS      New York Stock Exchange Inc
17            XNMS         Nasdaq Nms Global Market
18            XNGS  Nasdaq Ngs Global Select Market
19            XNYS      New York Stock Exchange Inc
20            XNMS         Nasdaq Nms Global Market
21            XNMS         Nasdaq Nms Global Market
22            XNGS  Nasdaq Ngs Global Select Market
23            XNMS         Nasdaq Nms Global Market
24            BATS   Cboe Bzx U S Equities Exchange
25            BATS   Cboe Bzx U S Equities Exchange
26            XNYS      New York Stock Exchange Inc
27            XASE                     Nyse Mkt Llc
28            XNMS         Nasdaq Nms Global Market
29            XNYS      New York Stock Exchange Inc
30            XNCM            Nasdaq Capital Market
31            XNYS      New York Stock Exchange Inc
32            XNGS  Nasdaq Ngs Global Select Market
33            XNGS  Nasdaq Ngs Global Select Market
34            XNMS         Nasdaq Nms Global Market
35            XNCM            Nasdaq Capital Market
36            ARCX                        Nyse Arca
37            XNYS      New York Stock Exchange Inc
38            XNYS      New York Stock Exchange Inc
39            XNCM            Nasdaq Capital Market
40            XNCM            Nasdaq Capital Market
41            XNMS         Nasdaq Nms Global Market
42            XNCM            Nasdaq Capital Market
43            XNCM            Nasdaq Capital Market
44            XNCM            Nasdaq Capital Market
45            XNYS      New York Stock Exchange Inc
46            XNGS  Nasdaq Ngs Global Select Market
47            XNGS  Nasdaq Ngs Global Select Market
48            XNYS      New York Stock Exchange Inc
49            XNYS      New York Stock Exchange Inc

                                                 name        date type  \
0                           Agilent Technologies Inc.  2024-02-13   cs
1                                          Alcoa Corp  2024-02-13   cs
2   Investment Managers Series Trust II - AXS Firs...  2024-02-13   et
3   Goldman Sachs Physical Gold ETF Trust - Goldma...  2024-02-13   et
4                         ATA Creativity Global - ADR  2024-02-13   ad
5                           Armada Acquisition Corp I  2024-02-13   cs
6   Armada Acquisition Corp I - Units (1 Ord & 1/2...  2024-02-13   ut
7           Ares Acquisition Corporation II - Class A  2024-02-13   cs
8   Ares Acquisition Corporation II - Warrants (01...  2024-02-13   wt
9   Ares Acquisition Corporation II - Units (1 Ord...  2024-02-13   ut
10                                Aadi Bioscience Inc  2024-02-13   cs
11  Advisorshares Trust - AdvisorShares Dorsey Wri...  2024-02-13   et
12                   African Agriculture Holdings Inc  2024-02-13   cs
13                        American Airlines Group Inc  2024-02-13   cs
14                   Altisource Asset Management Corp  2024-02-13   cs
15                            Atlantic American Corp.  2024-02-13   cs
16                           Aarons Company Inc (The)  2024-02-13   cs
17                        Applied Optoelectronics Inc  2024-02-13   cs
18                                          AAON Inc.  2024-02-13   cs
19                             Advance Auto Parts Inc  2024-02-13   cs
20  GraniteShares ETF Trust - GraniteShares 2x Lon...  2024-02-13   et
21  Direxion Shares ETF Trust - Direxion Daily AAP...  2024-02-13   et
22                                          Apple Inc  2024-02-13   cs
23  Direxion Shares ETF Trust - Direxion Daily AAP...  2024-02-13   et
24  ETF Opportunities Trust - T-Rex 2X Long Apple ...  2024-02-13   et
25  NEOS ETF Trust - Kurv Yield Premium Strategy A...  2024-02-13   et
26                          American Assets Trust Inc  2024-02-13   cs
27                               Almaden Minerals Ltd  2024-02-13   cs
28  BlackRock Institutional Trust Company N.A. - i...  2024-02-13   et
29                AllianceBernstein Holding Lp - Unit  2024-02-13   ut
30                American Battery Technology Company  2024-02-13   cs
31                                         Abbvie Inc  2024-02-13   cs
32                                     Ameris Bancorp  2024-02-13   cs
33                            AbCellera Biologics Inc  2024-02-13   cs
34  EA Series Trust - Alpha Blue Capital US Small-...  2024-02-13   et
35                            Abeona Therapeutics Inc  2024-02-13   cs
36   Unified Series Trust - Absolute Select Value ETF  2024-02-13   et
37                                   Ambev S.A. - ADR  2024-02-13   ad
38                        Asbury Automotive Group Inc  2024-02-13   cs
39                                 ARCA biopharma Inc  2024-02-13   cs
40                          Abacus Life Inc - Class A  2024-02-13   cs
41  Abacus Life Inc - 9.875% NT REDEEM 15/11/2028 ...  2024-02-13   ps
42            Abacus Life Inc - Warrants (30/06/2028)  2024-02-13   wt
43                     Able View Global Inc - Class B  2024-02-13   cs
44       Able View Global Inc - Warrants (17/08/2028)  2024-02-13   wt
45                                ABM Industries Inc.  2024-02-13   cs
46                               Airbnb Inc - Class A  2024-02-13   cs
47                         Acumen Pharmaceuticals Inc  2024-02-13   cs
48                            Arbor Realty Trust Inc.  2024-02-13   cs
49  Arbor Realty Trust Inc. - 6.375% PRF PERPETUAL...  2024-02-13   ps

                   iexId region currency  isEnabled          figi         cik  \
0   IEX_46574843354B2D52     US      USD       True  BBG000C2V3D6  0001090872
1   IEX_4238333734532D52     US      USD       True  BBG00B3T3HD3  0001675149
2   IEX_5030314338392D52     US      USD       True  BBG01B0JRCS6  0001587982
3   IEX_474B433136332D52     US      USD       True  BBG00LPXX872  0001708646
4   IEX_44595A4C53392D52     US      USD       True  BBG000V2S3P6  0001420529
5                   None     US      USD       True  BBG011XR7306  0001844817
6                   None     US      USD       True  BBG011PFP1D1  0001844817
7                   None     US      USD       True  BBG01GWQM2H3  0001853138
8                   None     US      USD       True  BBG01GWQNV79  0001853138
9                   None     US      USD       True  BBG01G2RW4M3  0001853138
10                  None     US      USD       True  BBG002WN7DT2  0001422142
11  IEX_5253355435362D52     US      USD       True  BBG000BDYRW6  0001408970
12                  None     US      USD       True  BBG00ZKGK0R2  0001884334
13  IEX_4353464A535A2D52     US      USD       True  BBG005P7Q881  0000006201
14  IEX_5442323844432D52     US      USD       True  BBG003PNL136  0001555074
15  IEX_5737584C53442D52     US      USD       True  BBG000B9XB24  0000008177
16  IEX_534D305A30592D52     US      USD       True  BBG00WCNDCZ6  0001821393
17  IEX_4C394B5933512D52     US      USD       True  BBG000D6VW15  0001158114
18  IEX_4E57434244582D52     US      USD       True  BBG000C2LZP3  0000824142
19  IEX_4850353858392D52     US      USD       True  BBG000F7RCJ1  0001158449
20                  None     US      USD       True  BBG0193F21N2  0001689873
21                  None     US      USD       True  BBG0193YGJ57  0001424958
22  IEX_4D48333344362D52     US      USD       True  BBG000B9XRY4  0000320193
23                  None     US      USD       True  BBG0193YBZ92  0001424958
24                  None     US      USD       True  BBG01KY72SD3        None
25                  None     US      USD       True  BBG01JXKG7J3  0001848758
26  IEX_4742423330312D52     US      USD       True  BBG00161BCR0  0001500217
27  IEX_5639393533472D52     US      USD       True  BBG000DGFSY4  0001015647
28  IEX_4332325853592D52     US      USD       True  BBG000G6GXC5  0000913414
29  IEX_4E465333304C2D52     US      USD       True  BBG000B9WM03  0000825313
30                  None     US      USD       True  BBG004M1KJN5  0001576873
31  IEX_4334484252542D52     US      USD       True  BBG0025Y4RY4  0001551152
32  IEX_52584C584A522D52     US      USD       True  BBG000CDY3H5  0000351569
33                  None     US      USD       True  BBG00LLW2MF2  0001703057
34                  None     US      USD       True  BBG01KMFQRF2  0001592900
35  IEX_4E31383330472D52     US      USD       True  BBG000DT5D52  0000318306
36  IEX_57474C4750582D52     US      USD       True  BBG00RHHGQY2  0001199046
37  IEX_56314334584C2D52     US      USD       True  BBG000BN5VZ4  0001565025
38  IEX_5452384E30442D52     US      USD       True  BBG000BKDWB5  0001144980
39  IEX_5338544E53332D52     US      USD       True  BBG000BWNN28  0000907654
40                  None     US      USD       True  BBG00VY1KB95  0001814287
41                  None     US      USD       True  BBG01K0T7JW6  0001814287
42                  None     US      USD       True  BBG00X8S1470  0001814287
43                  None     US      USD       True  BBG01BX34541  0001957489
44                  None     US      USD       True  BBG01GN9BF57  0001957489
45  IEX_514C4C3154342D52     US      USD       True  BBG000B9YYH7  0000771497
46                  None     US      USD       True  BBG001Y2XS07  0001559720
47                  None     US      USD       True  BBG0058YJ317  0001576885
48  IEX_5638354657572D52     US      USD       True  BBG000KMVDV1  0001253986
49                  None     US      USD       True  BBG0116Z9JS1  0001253986

                     lei
0   QUIX8Y7A2WP0XRMW7G29
1   549300T12EZ1F6PWWU29
2   549300SU7ER9OFETRU41
3                   None
4                   None
5                   None
6                   None
7                   None
8                   None
9                   None
10  549300G3U7TKW1M58L09
11                  None
12                  None
13                  None
14                  None
15                  None
16  529900IVEJ72I7MQ3Z14
17  529900I8U6Q5SYDNLT48
18  549300ZHF0E5VM7PUD37
19  529900UCNQ5H9FSL0Y70
20                  None
21                  None
22  HWUPKR0MPOU8FGXBT394
23                  None
24                  None
25                  None
26                  None
27  5493006ZGSENXLR23P74
28                  None
29                  None
30                  None
31  FR5LCKFTG8054YNNRU85
32                  None
33  9845000861BC95FF9F73
34                  None
35  54930002Z8PIJRCB4576
36                  None
37  549300TH5Q6VRP8OT012
38  549300JH4DTA7U42GL91
39  529900TG7O4ESUDMGI54
40                  None
41                  None
42                  None
43                  None
44                  None
45  QF02R89VEIOROM77J447
46  549300HMUDNO0RY56D37
47                  None
48  549300ASFUWYQO0RW077
49  549300ASFUWYQO0RW077

In [10]:
symbols_df.to_csv('symbols.csv', index=False)  # Save the data to a CSV file

In [7]:
# DEV -get total symbols
len(symbols_df.index)

10951

In [4]:
# testing the api connection with historical data
def get_historical_data(symbol, lookback_days=5):
    iex_key = os.getenv("IEX_API_KEY") 
    historical_url = f'https://cloud.iexapis.com/v1/stock/{symbol}/chart/{lookback_days}d?token={iex_key}'

    historical_data = requests.get(historical_url).json()
    df = pd.DataFrame(historical_data)
    return df[['date', 'high', 'low', 'open','close']]

# Fetch historical data
ticker = 'PLTR' # Palantir Technologies Inc
#### sudz4 -> think about getting a list, can do list of SP500 or sector, pass the list to the function and get the data
historical_df = get_historical_data(ticker)

# Display the historical data
# print(historical_df)

# Convert the 'date' column to datetime objects
historical_df['date'] = pd.to_datetime(historical_df['date'])

# Sort the DataFrame by the 'date' column
historical_df = historical_df.sort_values(by='date')

In [5]:
historical_df

        date    high    low   open  close
0 2024-02-08  25.060  23.32  23.96  24.51
1 2024-02-09  25.110  23.57  25.04  24.38
2 2024-02-12  25.525  23.82  23.91  25.05