In [1]:
# libs
import os
import pandas as pd
import requests
from dotenv import load_dotenv #pip3 install python-dotenv
# pip3 install lxml
# import openpyxl
#### sudz4 -> future feature -> try to use xlwings to write to excel

# load secrets
load_dotenv()

True

In [2]:
def get_historical_data(symbol, lookback_days=180):
    iex_key = os.getenv("IEX_API_KEY") 
    historical_url = f'https://cloud.iexapis.com/v1/stock/{symbol}/chart/{lookback_days}d?token={iex_key}'

    historical_data = requests.get(historical_url).json()
    df = pd.DataFrame(historical_data)
    return df[['date', 'high', 'low', 'open','close']]

# Fetch historical data
ticker = 'PLTR' # Palantir Technologies Inc
#### sudz4 -> think about getting a list, can do list of SP500 or sector, pass the list to the function and get the data
historical_df = get_historical_data(ticker)

# Display the historical data
# print(historical_df)

# Convert the 'date' column to datetime objects
historical_df['date'] = pd.to_datetime(historical_df['date'])

# Sort the DataFrame by the 'date' column
historical_df = historical_df.sort_values(by='date')

In [3]:
historical_df

          date     high     low   open  close
0   2023-08-17  15.4373  14.035  15.39  14.15
1   2023-08-18  14.6000  13.680  13.88  14.40
2   2023-08-21  14.7800  14.340  14.42  14.50
3   2023-08-22  15.1300  14.630  14.76  14.67
4   2023-08-23  15.4700  14.420  14.50  15.30
..         ...      ...     ...    ...    ...
118 2024-02-06  22.1800  19.760  20.30  21.87
119 2024-02-07  23.8700  21.380  21.60  23.60
120 2024-02-08  25.0600  23.320  23.96  24.51
121 2024-02-09  25.1100  23.570  25.04  24.38
122 2024-02-12  25.5250  23.820  23.91  25.05

[123 rows x 5 columns]