In [2]:
# libs
import os
import pandas as pd
import requests
from dotenv import load_dotenv #pip3 install python-dotenv
# pip3 install lxml
import openpyxl
#### sudz4 -> future feature -> try to use xlwings to write to excel

# load secrets
load_dotenv()

True

In [12]:
def get_historical_data(symbol, lookback_days=180):
    iex_key = os.getenv("IEX_API_KEY") 
    historical_url = f'https://cloud.iexapis.com/v1/stock/{symbol}/chart/{lookback_days}d?token={iex_key}'

    historical_data = requests.get(historical_url).json()
    df = pd.DataFrame(historical_data)
    return df[['date', 'high', 'low', 'open','close']]

# Fetch historical data
ticker = 'PLTR' # Palantir Technologies Inc
#### sudz4 -> think about getting a list, can do list of SP500 or sector, pass the list to the function and get the data
historical_df = get_historical_data(ticker)

# Display the historical data
# print(historical_df)

# Convert the 'date' column to datetime objects
historical_df['date'] = pd.to_datetime(historical_df['date'])

# Sort the DataFrame by the 'date' column
historical_df = historical_df.sort_values(by='date')

In [13]:
# display historical data info
print()
print('Periods:', len(historical_df))
print('Period Start Date:', historical_df['date'].iloc[0])
print('Period End Date:', historical_df['date'].iloc[-1])
print()

# display historical data partial view
print('Historical Data START')
print(historical_df.head(5))
print()
print('Historical Data END')
print(historical_df.tail(5)) # last 5 rows

Periods: 124
Period Start Date: 2023-08-07 00:00:00
Period End Date: 2024-02-01 00:00:00

Historical Data START
        date   high    low   open  close
0 2023-08-07  18.39  17.01  18.25  17.99
1 2023-08-08  17.49  16.10  17.49  17.04
2 2023-08-09  16.92  15.10  16.76  15.25
3 2023-08-10  15.87  15.25  15.44  15.41
4 2023-08-11  15.58  14.91  15.05  15.41

Historical Data END
          date     high    low   open  close
119 2024-01-26  16.7500  16.34  16.40  16.35
120 2024-01-29  17.1100  16.43  16.45  17.09
121 2024-01-30  17.2400  16.66  17.04  16.74
122 2024-01-31  16.7600  16.07  16.41  16.09
123 2024-02-01  16.4868  16.03  16.21  16.33

In [15]:
# make pandas dataframe setting show all rows and columns
pd.set_option('display.max_rows', None)

#display historical data FULL chart view
# historical_df # uncomment to display full chart view

          date     high      low    open  close
0   2023-08-07  18.3900  17.0100  18.250  17.99
1   2023-08-08  17.4900  16.1000  17.490  17.04
2   2023-08-09  16.9200  15.1000  16.760  15.25
3   2023-08-10  15.8700  15.2500  15.440  15.41
4   2023-08-11  15.5800  14.9100  15.050  15.41
5   2023-08-14  15.7400  14.9500  15.200  15.72
6   2023-08-15  15.8700  15.2900  15.610  15.37
7   2023-08-16  15.7250  15.1200  15.210  15.45
8   2023-08-17  15.4373  14.0350  15.390  14.15
9   2023-08-18  14.6000  13.6800  13.880  14.40
10  2023-08-21  14.7800  14.3400  14.420  14.50
11  2023-08-22  15.1300  14.6300  14.760  14.67
12  2023-08-23  15.4700  14.4200  14.500  15.30
13  2023-08-24  15.7100  13.8750  15.700  14.14
14  2023-08-25  14.6499  14.0100  14.140  14.53
15  2023-08-28  14.8800  14.5000  14.690  14.64
16  2023-08-29  15.6300  14.5000  14.600  15.40
17  2023-08-30  16.3500  15.3300  15.460  16.33
18  2023-08-31  15.8500  14.6500  15.600  14.98
19  2023-09-01  15.3650  14.8300  15.160  15.18
20  2023-09-05  15.4200  14.9000  15.080  15.21
21  2023-09-06  15.6200  15.0800  15.170  15.30
22  2023-09-07  15.2400  14.2900  14.880  15.21
23  2023-09-08  15.6100  15.0850  15.120  15.13
24  2023-09-11  16.1000  15.3600  15.410  15.79
25  2023-09-12  16.1500  15.4300  15.460  15.59
26  2023-09-13  15.8496  15.4200  15.630  15.60
27  2023-09-14  16.0400  15.4700  15.690  15.83
28  2023-09-15  15.9000  15.1700  15.770  15.33
29  2023-09-18  15.6300  15.0700  15.180  15.46
30  2023-09-19  15.5190  14.9500  15.340  15.15
31  2023-09-20  15.4250  14.7325  15.250  14.74
32  2023-09-21  14.5990  13.6800  14.340  14.00
33  2023-09-22  14.4150  14.0300  14.230  14.13
34  2023-09-25  14.2400  13.8200  14.000  14.22
35  2023-09-26  14.1700  13.8800  13.950  13.96
36  2023-09-27  14.9600  14.1600  14.200  14.85
37  2023-09-28  15.9600  14.8250  15.140  15.77
38  2023-09-29  16.8100  15.9600  16.110  16.00
39  2023-10-02  16.4400  15.7700  16.030  15.88
40  2023-10-03  15.7700  14.8200  15.610  14.90
41  2023-10-04  15.8500  15.1600  15.460  15.73
42  2023-10-05  15.9000  15.4100  15.590  15.81
43  2023-10-06  16.6950  15.5100  15.560  16.61
44  2023-10-09  17.8300  16.2200  16.270  17.61
45  2023-10-10  18.4000  17.6200  18.060  17.80
46  2023-10-11  18.4400  17.7300  17.870  17.92
47  2023-10-12  18.2400  17.5508  17.920  17.94
48  2023-10-13  18.1600  17.2700  18.060  17.36
49  2023-10-16  17.4600  16.6700  17.210  17.36
50  2023-10-17  18.0300  16.9100  17.000  17.84
51  2023-10-18  18.2200  17.1900  17.810  17.20
52  2023-10-19  17.5799  16.9700  17.440  17.06
53  2023-10-20  16.9400  15.8100  16.850  16.11
54  2023-10-23  16.3400  15.2100  15.900  16.20
55  2023-10-24  16.9300  16.3000  16.380  16.64
56  2023-10-25  16.6300  15.5800  16.570  15.59
57  2023-10-26  15.9100  15.0500  15.600  15.29
58  2023-10-27  15.6000  14.9600  15.480  15.07
59  2023-10-30  15.2900  14.5600  15.270  14.69
60  2023-10-31  15.0100  14.5500  14.580  14.80
61  2023-11-01  14.9600  14.4800  14.800  14.92
62  2023-11-02  18.3000  17.2101  17.480  17.97
63  2023-11-03  19.0789  17.7600  18.020  18.89
64  2023-11-06  19.0800  17.9300  18.990  18.54
65  2023-11-07  19.1700  18.5300  18.860  18.80
66  2023-11-08  18.9300  18.1500  18.850  18.49
67  2023-11-09  18.8700  18.1600  18.660  18.27
68  2023-11-10  19.7200  18.0600  18.155  19.67
69  2023-11-13  19.8800  19.3000  19.590  19.71
70  2023-11-14  20.1000  19.5000  20.000  19.94
71  2023-11-15  20.3700  19.6110  19.900  19.95
72  2023-11-16  19.8750  19.2900  19.800  19.77
73  2023-11-17  20.5800  19.6587  19.680  20.49
74  2023-11-20  21.6000  20.5600  20.650  21.34
75  2023-11-21  21.8500  19.7200  21.110  19.80
76  2023-11-22  20.4400  19.3300  20.260  19.69
77  2023-11-24  19.6000  18.9300  19.380  19.20
78  2023-11-27  19.5000  18.6200  19.130  19.08
79  2023-11-28  19.8000  19.0300  19.110  19.71
80  2023-11-29  20.3100  19.7800  19.945  19.84
81  2023-11-30  20.2300  19.6800  19.940  20.05
82  2023-12-01  20.2900  19.5500  19.930  20.27
83  2023-12-04  19.9000  18.2700  19.750  18.40
84  2023-12-05  18.5500  17.9600  18.250  18.30
85  2023-12-06  17.8300  17.0500  17.690  17.13
86  2023-12-07  17.4800  17.0800  17.220  17.22
87  2023-12-08  17.9200  17.0900  17.180  17.77
88  2023-12-11  18.2800  17.7000  17.970  17.77
89  2023-12-12  17.8800  17.2301  17.690  17.50
90  2023-12-13  17.9000  17.2200  17.650  17.87
91  2023-12-14  18.5800  17.7200  18.170  18.21
92  2023-12-15  19.1500  18.0400  18.670  18.20
93  2023-12-18  18.5750  17.7700  18.210  17.84
94  2023-12-19  18.1900  17.8400  17.980  17.95
95  2023-12-20  17.9200  17.1900  17.870  17.25
96  2023-12-21  17.7400  17.4200  17.530  17.59
97  2023-12-22  17.7000  17.3250  17.700  17.41
98  2023-12-26  17.7450  17.3299  17.440  17.68
99  2023-12-27  17.9100  17.4500  17.780  17.47
100 2023-12-28  17.8400  17.4200  17.460  17.56
101 2023-12-29  17.6400  17.1000  17.520  17.17
102 2024-01-02  16.9500  16.5000  16.950  16.58
103 2024-01-03  16.3800  16.0100  16.120  16.09
104 2024-01-04  16.5800  15.9500  16.050  16.25
105 2024-01-05  16.1279  15.6640  15.700  15.98
106 2024-01-08  16.8900  16.1400  16.220  16.67
107 2024-01-09  16.6300  16.2800  16.510  16.39
108 2024-01-10  17.0299  16.4000  16.500  16.79
109 2024-01-11  16.9300  16.1700  16.810  16.68
110 2024-01-12  17.0600  16.6200  16.680  16.76
111 2024-01-16  16.7400  16.2900  16.590  16.53
112 2024-01-17  16.4100  16.0500  16.260  16.39
113 2024-01-18  16.8100  16.1000  16.750  16.40
114 2024-01-19  16.7800  16.1500  16.570  16.78
115 2024-01-22  18.3503  17.4300  17.460  17.60
116 2024-01-23  17.7300  17.2000  17.640  17.33
117 2024-01-24  17.6500  16.7350  17.510  16.75
118 2024-01-25  17.0000  16.3100  16.920  16.46
119 2024-01-26  16.7500  16.3400  16.400  16.35
120 2024-01-29  17.1100  16.4300  16.450  17.09
121 2024-01-30  17.2400  16.6600  17.040  16.74
122 2024-01-31  16.7600  16.0700  16.410  16.09
123 2024-02-01  16.4868  16.0300  16.210  16.33

In [5]:
# Calculate Ichimoku components
high_9 = historical_df['high'].rolling(window=9).max()
low_9 = historical_df['low'].rolling(window=9).min()
historical_df['tenkan_sen'] = (high_9 + low_9) / 2

high_26 = historical_df['high'].rolling(window=26).max()
low_26 = historical_df['low'].rolling(window=26).min()
historical_df['kijun_sen'] = (high_26 + low_26) / 2

historical_df['senkou_span_a'] = ((historical_df['tenkan_sen'] + historical_df['kijun_sen']) / 2).shift(26)

high_52 = historical_df['high'].rolling(window=52).max()
low_52 = historical_df['low'].rolling(window=52).min()
historical_df['senkou_span_b'] = ((high_52 + low_52) / 2).shift(26)

historical_df['chikou_span'] = historical_df['close'].shift(-26)

# print updated df
historical_df

,date,high,low,close,tenkan_sen,kijun_sen,senkou_span_a,senkou_span_b,chikou_span
0,2023-08-07,18.3900,17.01,17.99,NaN,NaN,NaN,NaN,15.60
1,2023-08-08,17.4900,16.10,17.04,NaN,NaN,NaN,NaN,15.83
2,2023-08-09,16.9200,15.10,15.25,NaN,NaN,NaN,NaN,15.33
3,2023-08-10,15.8700,15.25,15.41,NaN,NaN,NaN,NaN,15.46
4,2023-08-11,15.5800,14.91,15.41,NaN,NaN,NaN,NaN,15.15
...,...,...,...,...,...,...,...,...,...
119,2024-01-26,16.7500,16.34,16.35,17.20015,17.00715,18.7750,18.165,NaN
120,2024-01-29,17.1100,16.43,17.09,17.20015,17.00715,18.7825,18.165,NaN
121,2024-01-30,17.2400,16.66,16.74,17.22515,17.00715,18.7850,18.165,NaN
122,2024-01-31,16.7600,16.07,16.09,17.21015,17.00715,18.8100,18.165,NaN
123,2024-02-01,16.4868,16.03,16.33,17.19015,17.00715,18.8100,18.165,NaN

In [11]:
# save dataframe to .xlsx file
# header is the row with the column names
pd.DataFrame(historical_df).to_excel('/Users/sudz4/Desktop/FINANCIAL-SYSTEMS/dark-trader/ichimoku_cloud/ichimoku_data/PLTR_180d_ichimoku.xlsx', header=True, index=False)

# print success message
print('PLTR_180d_ichimoku.xlsx file saved successfully!')

PLTR_180d_ichimoku.xlsx file saved successfully!